<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="eclemma-e4.12" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.18.0.v20190605-1800"/>
<unit id="org.eclipse.rcp.feature.group" version="4.12.0.v20190605-1801"/>
<unit id="org.eclipse.platform.feature.group" version="4.12.0.v20190605-1801"/>
<repository location="http://download.eclipse.org/releases/2019-06/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.objectweb.asm" version="9.1.0.v20210209-1849"/>
<unit id="org.objectweb.asm.commons" version="9.1.0.v20210209-1849"/>
<unit id="org.objectweb.asm.tree" version="9.1.0.v20210209-1849"/>
<unit id="org.jacoco.agent" version="0.8.7.v20210625-1418"/>
<unit id="org.jacoco.core" version="0.8.7.v20210625-1418"/>
<unit id="org.jacoco.report" version="0.8.7.v20210625-1418"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20210825222808/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/2.8.0"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
</target>
