name: CI
on:
  - push
  - pull_request
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            eclipse: 4.12
            java: 17
          - os: windows-2022
            eclipse: 4.12
            java: 17
          - os: macos-15-intel
            # Even if our tests pass on macOS 15 with some older Eclipse versions
            # 4.35 is the first that explicitly targets macOS 15 - see
            # https://eclipse.dev/eclipse/development/plans.html?file=plans/eclipse_project_plan_4_35.xml
            # https://eclipse.dev/eclipse/development/plans.html?file=plans/eclipse_project_plan_4_34.xml
            eclipse: 4.35
            java: 21
    name: Eclipse ${{ matrix.eclipse }}, Java ${{ matrix.java }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Build
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            export DISPLAY=:99.0
            Xvfb $DISPLAY &
          fi
          ./mvnw -V -B -e verify -Pe${{ matrix.eclipse }} -Dtycho.executionEnvironment=JavaSE-${{ matrix.java }} -DskipUITests=false --no-transfer-progress
